<div id="main">

<h1>あなたのつぶやき一覧</h1>

<p><%= notice %></p>

<table>
    
<% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.content %></td>
        <td><%= link_to '詳細を確認', blog_path(blog.id) %></td>
        <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
        <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
<% end %>
</table>

<p class="btn_new"><%= link_to '新しくつぶやきを投稿する', new_blog_path %></p>

</div>